body{
	background-color:black;
	background-image:url("/home/Sem6B10/Desktop/660/index.jpeg");
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:center center;
}
h1{
	color:white;
	margin-left:100px;
	text-decoration:overline;
}
.ok{
	color:magenta;
}
.normal{
	color:skyblue;
	font-style:italic;
	font-family:monospace;
	margin-top:50px;
	font-size:large;
	text-decoration:line-through;
}
.special{
	color:pink;
	font-weight:bolder;
	font-family:monospace;
	font-size:large;
	letter-spacing:5px;
	text-align:center;
	text-decoration:underline;
	text-shadow:8px 4px 8px white;
}
.oo{
	word-spacing:5px;
	text-indent:1cm;
	color:white;
	text-transform:capitalize;
}
.ho{
	direction:rtl;
	color:gray;
	letter-spacing:5px;
	font-weight:bolder;
}
.ha{
	box-shadow: 10px 10px 5px grey;
	height:300px;
	width:300px;
}
img:hover{
	border:3px dashed white;
}
img{
	opacity:0.4;
} 
